.p1{

    background-color: pink;
    color: blue;
    font-size: 12pt;
    font-family: serif;
}

.p2{

    background-color: green;
    color: white;
    font-family: fantasy;
    font-size: 14pt;
}